.logementRating{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: end;
    margin-top: 20px;
}
.star{
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 767.98px) {
    .logementRating{
        gap: 10px;
        margin-top: 0;
    }
    .star{
        width: 18px;
        height: 18px;
    }
}