.container{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 80% 20%;
}

.logementTitle{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

.logementLocation{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin-top: -30px;
}

.host{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 1Opx;
}

.hostName{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    color: #FF6060;
    margin-right: 10px;
}


.hostPic{
    border-radius: 50%;
    width: 100px;
}

.logementTags{
    display: flex;
    gap: 10px;
}

.logementTags p{
    width: auto;
    height: 25px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    padding: 3px 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.dropdownContainer{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 130px;
}